.offer {
  display: inline-flex;
  flex-direction: column;
  width: 100%; }
  .offer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .offer__list__item {
      margin: 2% 5% 5% 5%;
      text-align: center; }
