.wedding {
  width: 100%;
  display: inline-flex;

  &__description {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 33%;
    padding: 4%;
  }

  &__photo {
    background-image: url("../assets/img/first-dance-i.jpg");
    background-position: right;
    background-size: cover;
    width: 80%;
    height: 653px;
    animation: fadeIn 0.5s linear 0.5s;
    animation-fill-mode: backwards;
  }

  &__headline {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 68px;
    animation: fadeIn 0.5s linear;
  }

  &__text {
    animation: fadeIn 0.5s ease-in 0.5s;
    animation-fill-mode: backwards;
  }

  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 40px;
  }

  button {
    animation: fadeIn 0.5s ease-in-out 1s;
    animation-fill-mode: backwards;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .wedding {
    display: flex;
    flex-direction: column-reverse;
    &__headline {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 93.9%;
      width: 60%;
      animation: none;
    }
     &__photo {
      width: 100%;
      height: 230px;
      animation: none;
    }
    &__text {
      animation: none;
    }
    &__description {
      width: 84%;
      padding-top: 30px;
      & p {
        font-size: 14px;
        line-height: 153.4%;
      }
      & h4 {
        margin: 11px 0 15px 0;
        font-size: 15px;
        line-height: 17px;
        padding: 0;
      }
    }
    button {
      animation: none;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

